*{
    margin:0;
    padding:0;
    outline: 0;
}
:root{
    /* font-variable */
    --primary-fonts:"Poppins";
    /* color-variable */
    --bg-color:#2D25A0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

.content_inner {
    background: var(--bg-color);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.banner_left {
    font-size: 64px;
    font-family: poppins;
    line-height: 80px;
    font-weight: 700;
}
.banner_right img {
    width: 556px;
    height: 438px;
}
.button {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.button a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background: #E02C6D;
    padding: 26px 44px;
}
.button img {
    background: #E02C6D;
    padding: 10px 35px;
}
/* player_lists */
.list_inner {
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.palyers_name {
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px #d8cbcb;
}
.palyers_name img {
    width: 200px;
    height: 200px;
}
.palyers_name h2 {
    font-size: 25px;
    padding: 10px;
    font-family: poppons;
}
.palyers_name p {
    font-size: 12px;
    text-align: left;
    padding: 5px;
}
/* highlight_section */

.hightlight_inner {
    display: flex;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    align-items: center;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 165px;
}
.hilight_left h2 {
    font-size: 45px;
    padding: 7px;
    font-family: poppins;
    font-weight: 700;
}
.hilight_left p {
    font-family: poppins;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
    padding: 20px;
}
.hightlight_right img {
    width: 567px;
    height: 427px;
}
.hightlight_inner {
    display: flex;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    align-items: center;
}